<main clas>
    <div class="login-container" id="login-container">
        <div class="form-container">
            <form class="form form-login">
                <h2 class="form-title">Entrar com</h2>
                <div class="form-social">
                    <a href="#" class="social-icon" (click)="loginGoogle()">
                        <fa-icon class="" [icon]="faG"></fa-icon>
                    </a>
                </div>
                <p class="form-text">ou utilize sua conta</p>
                <div class="form-inputs-container">
                    <input type="email" class="form-input" placeholder="Email">
                    <input type="password" class="form-input" placeholder="Password">
                </div>
                <a href="#" class="form-link">Esqueceu a senha?</a>
                <button class="form-button">Logar</button>
            </form>
            <!-- <form class="form form-register">
                        <h2 class="form-title">Criar Conta</h2>
                        <div class="form-social">
                            <a href="#" class="social-icon">
                                <i class="fa-brands fa-facebook-f"></i>
                            </a>
                            <a href="#" class="social-icon">
                                <i class="fa-brands fa-google"></i>
                            </a>
                            <a href="#" class="social-icon">
                                <i class="fa-brands fa-linkedin-in"></i>
                            </a>
                        </div>
                        <p class="form-text">ou cadastre seu e-mail</p>
                        <div class="form-inputs-container">
                            <input type="password" class="form-input" placeholder="Nome">
                            <input type="email" class="form-input" placeholder="Email">
                            <input type="password" class="form-input" placeholder="Password">
                        </div>
                        <button class="form-button">Logar</button>
                    </form>
                </div> -->
            <div class="overlay-container">
                <div class="overlay">
                    <h2 class="form-title form-title-light">Ja tem Conta?</h2>
                    <p class="form-text">Para entrar na nossa plataforma faça login com suas informações</p>
                    <button type="submit"  class="form-button form-button-light" id="open-login">Entrar</button>
                </div>
                <div class="overlay">
                    <h2 class="form-title form-title-light">Bem vindo!</h2>
                    <p class="form-text">Utilize seu usuario e sua senha para logar em nosso sistema.</p>
                    <!-- <button class="form-button form-button-light" id="open-register">Cadastrar</button> -->
                </div>
            </div>
        </div>
    </div>
</main>