<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title ">Contracts</h4>
                        <p class="card-category">Contracts registered in the Database: </p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        id
                                    </th>
                                    <th>
                                        Company
                                    </th>
                                    <th>
                                        Client
                                    </th>

                                    <th>
                                        Data of insert (Data de inserção)
                                    </th>
                                    <th>
                                        Data of expiration (Data de expiração)
                                    </th>
                                    <th>
                                        Sale value (Valor de venda)
                                    </th>
                                    <th>
                                        Seller (Vendedor)
                                    </th>


                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of contracts">
                                        <td>
                                            {{item.id}}
                                        </td>
                                        <td>
                                            {{item.company}}
                                        </td>
                                        <td>
                                            {{item.client}}
                                        </td>
                                        <td>
                                            {{item.dataInsert | date:"MM/dd/yyyy"}}
                                        </td>
                                        <td>
                                            {{item.dataExpiration | date:"MM/dd/yyyy"}}
                                        </td>
                                        <td>
                                            {{item.sale}}
                                        </td>
                                        <td>
                                            {{item.seller}}
                                        </td>
                                        <td>
                                            <button mat-raised-button type="button" matTooltip="Edit Contract"
                                                [matTooltipPosition]="'above'"
                                                class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                <i (click)="editContract(item)" class="material-icons">edit</i>
                                            </button>
                                            <button mat-raised-button type="button" matTooltip="Remove"
                                                [matTooltipPosition]="'above'"
                                                class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                <i (click)="removeContract(item)" class="material-icons">close</i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- <button mat-raised-button type="submit" class="btn btn-success pull-right">Novo</button> -->
                        <a [routerLink]="['/user-profile']" t href="#" class="btn pull-right btn-success">New</a>

                    </div>
                </div>
            </div>
            <!-- <div class="col-md-12">
              <div class="card card-plain">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title mt-0"> Table on Plain Background</h4>
                      <p class="card-category"> Here is a subtitle for this table</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table table-hover">
                              <thead class="">
                                <th>
                                    ID (do contrato)
                                </th>
                                <th>
                                    Client
                                </th>
                                
                                <th>
                                    Data of insert (Data de inserção)
                                </th>
                                <th>
                                    Data of expiration (Data de expiração)
                                </th>
                                <th>
                                  Sale value (Valor de venda)
                                </th>
                                <th>
                                  Seller ( vendedor)
                                </th>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>
                                          1
                                      </td>
                                      <td>
                                          Dakota Rice
                                      </td>
                                      <td>
                                          Niger
                                      </td>
                                      <td>
                                          Oud-Turnhout
                                      </td>
                                      <td>
                                          $36,738
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          2
                                      </td>
                                      <td>
                                          Minerva Hooper
                                      </td>
                                      <td>
                                          Curaçao
                                      </td>
                                      <td>
                                          Sinaai-Waas
                                      </td>
                                      <td>
                                          $23,789
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          3
                                      </td>
                                      <td>
                                          Sage Rodriguez
                                      </td>
                                      <td>
                                          Netherlands
                                      </td>
                                      <td>
                                          Baileux
                                      </td>
                                      <td>
                                          $56,142
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          4
                                      </td>
                                      <td>
                                          Philip Chaney
                                      </td>
                                      <td>
                                          Korea, South
                                      </td>
                                      <td>
                                          Overland Park
                                      </td>
                                      <td>
                                          $38,735
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          5
                                      </td>
                                      <td>
                                          Doris Greene
                                      </td>
                                      <td>
                                          Malawi
                                      </td>
                                      <td>
                                          Feldkirchen in Kärnten
                                      </td>
                                      <td>
                                          $63,542
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          6
                                      </td>
                                      <td>
                                          Mason Porter
                                      </td>
                                      <td>
                                          Chile
                                      </td>
                                      <td>
                                          Gloucester
                                      </td>
                                      <td>
                                          $78,615
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div> -->