<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-success">
                      <h4 class="card-title">New Contract</h4>
                      <p class="card-category">Complete with informations for add new Contract</p>
                  </div>
                  <div class="card-body">
                      <form [formGroup]="formContract" (ngSubmit)="onSubmit()">
                          <div class="row">
                              <div class="col-md-5">
                                <mat-form-field class="example-full-width">
                                    <input formControlName="company" name="company" matInput placeholder="Company" enable>
                                  </mat-form-field>
                              </div>
                              <div class="col-md-3">
                                  <mat-form-field class="example-full-width">
                                    <input formControlName="client" name="client" matInput placeholder="Client">
                                  </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input formControlName="email" name="email" matInput placeholder="Email address" type="email">
                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input formControlName="dataInsert" name="dataInsert" matInput placeholder="DataInsert" type="date">
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input formControlName="dataExpiration" name="dataExpiration"matInput placeholder="DataExpiration" type="date">
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input formControlName="sale" name="sale" matInput placeholder="Sale" type="number">
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input formControlName="seller" name="seller" matInput placeholder="Seller" type="text">
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <mat-form-field class="example-full-width">
                                <input formControlName="descricao" name="descricao" matInput placeholder="Description" type="text">
                              </mat-form-field>
                            </div>
                        </div>
                          <button mat-raised-button type="submit" class="btn btn-success pull-right">Save</button>
                          <a [routerLink]="['/table-list']" t href="#" class="btn pull-right btn-danger">Cancel</a>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
